<%= simple_form_for @user do |f| %>
<div class="heading">
  <h3>What do you like to do at the <span class="gym-tag"><%= image_tag image_url('icons/gym-sign.png') %></span> ?</h3>
  <h6>Select one or more</h6>
</div>

<div class="row">
<% @sports.each do |sport| %>
<div class="col-md-2 col-sm-4">
  <div class="checkbox hidden-checkbox">
    <label>
      <%= check_box_tag "user[sport_ids][]", sport.id, f.object.sports.include?(sport) %>
      <div class="sport-box">

        <% case sport.name
        when 'Basketball'%>
          <%= image_tag image_url("icons/basketball.png") %>

        <% when 'Bodybuilding' %>
          <%= image_tag image_url("icons/bodybuilding.png") %>

        <% when 'Boxing' %>
          <%= image_tag image_url("icons/boxing.png") %>

        <% when 'Calisthenics' %>
          <%= image_tag image_url("icons/calisthenics.png") %>

        <% when 'Cycling' %>
          <%= image_tag image_url("icons/cycling.png") %>

        <% when 'Conditioning' %>
          <%= image_tag image_url("icons/conditioning.png") %>

        <% when 'Going to the Gym' %>
          <%= image_tag image_url("icons/gym.png") %>

        <% when 'Gymnastics' %>
          <%= image_tag image_url("icons/gymnastics.png") %>

        <% when 'Kettlebells' %>
          <%= image_tag image_url("icons/kettlebells.png") %>

        <% when 'Running' %>
          <%= image_tag image_url("icons/running.png") %>

        <% when 'Weightlifting' %>
          <%= image_tag image_url("icons/weightlifting.png") %>

        <% when 'Yoga' %>
          <%= image_tag image_url("icons/yoga.png") %>

        <% end %>

      </div>
    </label>
    <h4><%= sport.name %></h4>
  </div>

</div> <!-- end col-md-2 -->
<% end %> <!--end sports loop-->
</div> <!-- end row -->


<div class="row">
<div class="heading">
  <h3>What about your Goals?</h3>
  <h6>Select one or more</h6>
</div>

<div class="col-md-12">
  <% @goals.each do |goal| %>
  <div class="col-md-3 no-padding">
    <div class="checkbox">
      <label class="black">
        <%= check_box_tag "user[goal_ids][]", goal.id, f.object.goals.include?(goal) %>
        <span class="black"><%= goal.name %></span>

      </label>
    </div>
    </div>
  <% end %> <!-- end goals loop -->
</div> <!-- end col-md-12-->
</div> <!-- end row-->

<div class="row">
  <div class="heading">
    <h3>When do you usually workout?</h3>
    <h6>Select one</h6>
  </div>

<% @moments.each do |moment| %>
<div class="col-md-4">
  <div class="radio hidden-checkbox">
    <label class="zero-padding">
      <%= radio_button_tag 'user[moment_id]', moment.id, f.object.moment(moment) %>

    <div class="sport-box">
      <% case moment.name
      when 'Morning'%>
        <%= image_tag image_url("icons/am-2.png") %>

      <% when 'Daytime' %>
        <%= image_tag image_url("icons/sun.png") %>

      <% when 'Evening' %>
        <%= image_tag image_url("icons/pm-2.png") %>

      <% end %>

      </div>
    </label>
    <h4><%= moment.name %></h4>

  </div>

</div>
<% end %>  <!-- end moments-->
</div><!--end row-->

<div class="row">
  <div class="heading">
    <h3>When do you usually workout?</h3>
    <h6>Select one</h6>
  </div>

<% @workouts.each do |workout| %>
<div class="col-md-4">
  <div class="radio hidden-checkbox">
    <label class="zero-padding">

      <%= radio_button_tag 'user[workout_id]', workout.id, f.object.workout(workout) %>

    <div class="sport-box">
      <% case workout.name
      when '1-2'%>
        <%= image_tag image_url("icons/1-2.png") %>

      <% when '3-4' %>
        <%= image_tag image_url("icons/3-4.png") %>

      <% when '5-7' %>
        <%= image_tag image_url("icons/5-7.png") %>

      <% end %>

      </div>
    </label>

  </div>

</div>
<% end %>  <!-- end workouts-->
</div><!--end row-->

<%= f.button :submit, 'Save Changes', class: 'btn btn-success' %>

<% end %>
