<% title 'Edit Your Settings' %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="card">
      <div class="card-header" data-background-color="red">
        <h4 class="title">Account Details</h4>
      </div>

    <div class="card-content">
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
      <%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
      <%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %>

      <%= f.input :city_id, collection: City.all.order(name: :asc), label: "City" %>
      <%= f.simple_fields_for :city do |c| %>
      <div class="row">
      <%= c.input :city_id, collection: City.all.order(name: :asc), label_method: :name, value_method: :id, label: "City", include_blank: false, selected: @user.city_id %>
        </div>
      <% end %>

      <div class="row">
        <div class="col-md-3">
          <div class="form-group label-floating">
            <label class="control-label">* First Name</label>
            <%= f.input_field :first_name, required: true, autofocus: true, class: 'form-control' %>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group label-floating">
            <label class="control-label">* Last Name</label>
            <%= f.input_field :last_name, required: true, class: 'form-control' %>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group label-floating">
            <%= f.input :date_of_birth, label: 'Date of Birth', as: :date, start_year: Date.today.year - 90,
                                      end_year: Date.today.year - 12,
                                      order: [:day, :month, :year], class: 'datepicker form-control' %>
          </div>
        </div>

        <div class="col-md-3">
          <div class="form-group label-floating">
            <label class="control-label">Gender</label>
            <select>
             <option value="volvo">Volvo</option>
             <option value="saab">Saab</option>
             <option value="mercedes">Mercedes</option>
             <option value="audi">Audi</option>
            </select>
          </div>
        </div>

      </div><!--End row-->

      <div class="row">
        <div class="col-md-8">
          <div class="form-group label-floating">
            <label class="control-label">* Email</label>
            <%= f.input_field :email, required: true, class: 'form-control' %>
          </div>
        </div>
        <div class="col-md-8">
          <div class="form-group">
          <label><strong>About Me</strong></label>
          <p>Short Description</p>
          <div class="form-group label-floating">
              <label class="control-label">Write a few words about yourself. This will be shown on your profile.</label>
              <textarea class="form-control" rows="5"></textarea>
          </div>
          </div>
        </div><!--End col-md-6-->

        <div class="col-md-4">
            <div class="col-md-8 col-md-offset-2">
              <div class="text-center">
                <label class="text-center">Gravatar</label> - <a href="http://en.gravatar.com/" target="_blank">Change</a>
                <hr>
              </div>
              <%= gravatar_tag current_user.email, size: 150, :html => { class: 'img-rounded img-responsive img-raised img-edit', alt: 'Profile Picture' } %>
            <br>
            <div class="text-center">
              <label>Note: May take a few minutes to update.</label>
              <br>
            </div>

          </div> <!--end col-md-8-->

        </div> <!-- end col-md-4-->
      </div><!--row-->

      <div class="row">
        <div class="col-md-6">
          <label><strong>Change Password</strong></label>
          <p>Hint: Leave blank if you don't want to change it.</p>

            <div class="form-group label-floating">
              <label class="control-label">New Password</label>
              <%= f.input_field :password, autocomplete: "off", hint: "Leave this blank if you don't want to change it", required: false, class: 'form-control' %>
            </div>
        </div>
        <div class="col-md-6">
        <label class="no-vis"><strong>#</strong></label>
        <p class="no-vis">#</p>
          <div class="form-group label-floating">
            <label class="control-label">Password Confirmation</label>
            <%= f.input_field :password_confirmation, required: false, class: 'form-control' %>
          </div>
        </div>
      </div> <!--End Row-->

      <div class="row">
       <div class="col-md-6">
         <div class="form-group label-floating">
           <label class="control-label">* Current Password (must be entered to save any changes)</label>
           <%= f.input_field :current_password, hint: "Please enter your current password to confirm your changes", required: true, class: 'form-control' %>
         </div>
       </div> <!--end col-md-6-->
      </div> <!-- End Row-->
      <div class="row">
        <div class="col-md-12">
          <%= button_tag(type: 'submit', class: "btn btn-success btn-btm-right") do %>
            <i class=material-icons>done</i> Save Changes
          <% end %>
          <%= link_to '<i class="material-icons">delete_forever</i> Cancel My Account'.html_safe, registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: 'btn btn-danger sm-btn-block' %>
        </div>

      </div>
    </div> <!--Card Content-->
  <% end %> <!--End Form -->
  </div> <!--End Card-->
  </div>
</div>
