<div class="signup-page">
  <div class="wrapper">
    <div class="header header-filter">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">

            <div class="card card-signup">
    <div class="header header-primary text-center">
      <h4>Sign Up</h4>
      <div class="social-line">
        <a href="#pablo" class="btn btn-simple btn-just-icon">
          <i class="fa fa-facebook-square"></i>
        </a>
        <a href="#pablo" class="btn btn-simple btn-just-icon">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="#pablo" class="btn btn-simple btn-just-icon">
          <i class="fa fa-google-plus"></i>
        </a>
      </div>
    </div>
    <div class="col-md-12"><%= devise_error_messages! %>
    <%= content_tag(:div, flash[:error], :id => "flash_error") if flash[:error] %>
    <%= content_tag(:div, flash[:notice], :id => "flash_notice") if flash[:notice] %>
    <%= content_tag(:div, flash[:alert], :id => "flash_alert") if flash[:alert] %></div>

    <p class="text-divider">Enter your details below</p>
    <div class="content col-md-10 col-md-offset-1">

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <div class="form-group label-floating">
      <%= f.label :first_name, class: 'control-label' %>
      <%= f.input_field :first_name, required: true, autofocus: true, class: 'form-control' %>
    </div>

    <div class="form-group label-floating">
      <%= f.label :last_name, class: 'control-label' %>
      <%= f.input_field :last_name, required: true, class: 'form-control' %>
    </div>

    <div class="form-group label-floating">
      <%= f.label :email, class: 'control-label required email' %>
      <%= f.input_field :email, required: true, class: 'form-control' %>
    </div>

    <div class="form-group label-floating">
      <%= f.label :password, class: 'control-label required email' %>
      <%= f.input_field :password, required: true, hint: ("Password must be #{@minimum_password_length} characters minimum" if @minimum_password_length), class: 'form-control' %>
    </div>

    <div class="form-group label-floating">
      <%= f.label :password_confirmation, class: 'control-label required email' %>
      <%= f.input_field :password_confirmation, required: true, class: 'form-control' %>
    </div>

    <div class="footer text-center">
      <%= f.button :submit, "Sign up", class: 'btn btn-simple btn-primary btn-lg' %>

    </div>

    <%= render "devise/shared/links" %>
    <br>
  <% end %>

  </div><!--End of content-->
</div><!--End of Card-->

          </div>
        </div>
      </div>
      <%= render 'landings/footer' %>
    </div>
  </div>
</div>
