<div class="landing-page" id="home">
  <div class="wrapper">
      <div class="header header-filter">
          <div class="container">
              <div class="row">
        <div class="col-md-8">
          <h1 class="title">Achieve great things together.</h1>
            <h4>'x' is the platform that allows you to find that perfect fitness partner, make new friends and work towards succeeding in your fitness goals.</h4>

            <%= link_to '<i class="material-icons">done</i> Register Now'.html_safe, new_user_registration_path, class: 'btn btn-info btn-raised btn-lg' %>
        </div>
              </div>
          </div>
      </div><!-- End of header -->

  <div class="main main-raised">
    <div class="container">
        <div class="section text-center section-landing" id="about">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="title">What is 'x'?</h2>
                        <h5 class="description">Have you ever found it hard to motivate yourself to get out and go to the gym? Studies<sup>1</sup> have shown social support can play a key role in helping people achieve their goals and lose weight<sup>2</sup>.</h5>
                        <h5 class="description">'x' aims to bring people together to exercise, to create this social connection. Whether that is going to the gym, attending new classes or simply going for a run, we aim to enable you to find the right fitness partner and make new friends.</h5>
                    </div>
                </div>

        <div class="features" id="features">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="title">Our Features</h2>
            </div>
                      <div class="col-md-4">
              <div class="info">
                <div class="icon icon-primary">
                  <i class="material-icons">dashboard</i>
                </div>
                <h4 class="info-title">Setup</h4>
                <p>We provide a personalised dashboard where you can manage your sport preferences, goal setting, friendships and more!</p>
              </div>
                      </div>
                      <div class="col-md-4">
              <div class="info">
                <div class="icon icon-success">
                  <i class="material-icons">search</i>
                </div>
                <h4 class="info-title">Search</h4>
                <p>Find others who have similar interests through our advanced search system. Look for people based on exercise, goals and location.</p>
              </div>
                      </div>
                      <div class="col-md-4">
              <div class="info">
                <div class="icon icon-danger">
                  <i class="material-icons">fingerprint</i>
                </div>
                <h4 class="info-title">Connect</h4>
                <p>'x' was created with a human focused methodology, for people who want to build valuable and meaningful friendships and connections.</p>
              </div>
                      </div>
                  </div>
        </div>
            </div>


          <div class="section landing-section" style="padding-top:0px;">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="text-center title">Get Started</h2>
            <h4 class="text-center description">Sign up today with just a few details, it's quick and easy to do!</h4>
            <br>
                        <div class="row">
                          <div class="col-md-6 col-md-offset-3">
                            <%= link_to 'Register', new_user_registration_path, class: 'btn btn-success btn-lg btn-block' %>
                          </div>
                          <div class="col-md-6 col-md-offset-3">

                          <h4 class="text-center description">Already have an account?</h5>

                          </div>
                          <div class="col-md-6 col-md-offset-3">
                            <%= link_to 'Sign In', new_user_session_path, class: 'btn btn-warning btn-lg btn-block' %>
                          </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

  </div>

  <%= render 'footer' %>

</div>
</div>

<script>
//Array of images which you want to show: Use path you want.
var images=new Array('<%= image_url("bg2.jpg")%>','<%= image_url("bg.jpg")%>','<%= image_url("bg3.jpg")%>');
var nextimage=0;
doSlideshow();

function doSlideshow(){
    if(nextimage>=images.length){nextimage=0;}
    $('.header')
    .css('background-image','url("'+images[nextimage++]+'")')
    .fadeIn(500,function(){
        setTimeout(doSlideshow, 8000);
    });
}
</script>
