  <div class="panel panel-default" data-conversation-id="<%= conversation.id %>">
    <div class="panel-heading">
      <%= link_to conversation.opposed_user(user).first_name + ' ' + conversation.opposed_user(user).last_name, '', class: 'toggle-window' %>
      <%= link_to "x", close_conversation_path(conversation), class: "btn btn-danger btn-xs pull-right", remote: true, method: :post %>
    </div>

    <div class="panel-body" style="display: none;">
      <div class="messages-list">
        <ul>
          <%= render 'conversations/conversation_content', messages: conversation.messages, user: user %>
        </ul>
      </div>
      <!-- Each user has own seperate client - server connection and recognised
          by their own ID -->
      <form class="new_message">
        <input type="hidden" name="conversation_id" value="<%= conversation.id %>">
        <input type="hidden" name="user_id" value="<%= user.id %>">
        <textarea name="body" class="form-control"></textarea>
        <input type="submit" class="btn btn-success" value="Send">
      </form>
    </div>
  </div>
