<% title 'Profile Setup' %>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header" data-background-color="purple">
        <h3 class="title">Profile Setup</h3>
        <p class="category">Setup your profile settings to make it easier for others to find you.</p>
      </div> <!-- end card header -->

      <div class="card-content">

          <%= render 'users/edit/setup'%>

      </div>
    </div>
  </div>
</div>
<%= simple_form_for @user do |f| %>
<%= f.association :sports, as: :check_boxes %>
<%= f.association :goals, as: :check_boxes %>
<%= f.association :workout %>

<%= f.button :submit, class: 'btn btn-default' %>
<% end %>


<%= simple_form_for @user do |f| %>
  <% @goals.each do |goal| %>
    <%= check_box_tag "user[goal_ids][]", goal.id, f.object.goals.include?(goal) %>
  <p><%= goal.name %></p>
  <% end %>

  <%= f.button :submit, class: 'btn btn-default' %>
<% end %>
