<% title 'Profile Setup' %>

<%= form_for @user do |f| %>
  <% @sports.each do |sport| %>

  <div class="checkbox">
    <label>
      <%= check_box_tag "user[sport_ids][]", sport.id, f.object.sports.include?(sport) %>

      <%= image_tag image_url("https://secure.ymcanyc.org/page/-/uploads/sub-class-thumbs/running-thumbnail.png")%>
    </label>
    <%= sport.name %>
  </div>

      <!-- See if I can put this in its own method - logic will make the view messy
          Method needs to go into appllication_helper.rb
      -->
      <!-- <% if @weightlifting.name == sport.name %>
        <%= image_tag image_url("w1.png"), class: "off" %>
        <%= image_tag image_url("w2.png"), class: "on" %>
      <% elsif @running.name == sport.name %>
        <%= image_tag image_url("https://secure.ymcanyc.org/page/-/uploads/sub-class-thumbs/running-thumbnail.png"), class: "off" %>
        <%= image_tag image_url("w2.png"), class: "on" %>
      <% end %>
      <div class="control__indicator"></div>-->

  <% end %>

  <% @goals.each do |goal| %>
    <%= check_box_tag "user[goal_ids][]", goal.id, f.object.goals.include?(goal) %>
    <%= goal.name %>
  <% end %>

  <%= f.button :submit, class: 'btn btn-default' %>
<% end %>
