<h1>Users</h1>
<p><%= link_to 'Edit Sport', edit_user_path(current_user) %></p>

<div class="row">
  <div class="col-md-8">
      <%= will_paginate(@users) %>
    </ul>
    <%= render @users %>
  </div>

  <div class="col-md-4">
    <%= form_tag users_path, :method => 'get' do %>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
