<% if current_user.id == @user.id %>
  <% title 'Your Profile' %>
<% else %>
  <% title 'User Profile' %>
<% end %>
<div class="row">
  <div class="col-md-2 col-md-offset-5">
    <br>
  </div>

</div>

<div class="row">
  <div class="col-md-8">
    <br>
    <div class="card card-profile">
      <%= link_to '<i class="material-icons">settings</i>'.html_safe, edit_user_registration_path(current_user), class: 'btn btn-white btn-round btn-just-icon floatright' %>
      <div class="card-avatar">
        <%= gravatar_tag @user.email, :html => { class: 'img', alt: 'Profile Picture' } %>

      </div>
      <div class="content">
        <h4 class="card-title">
          <%= @user.first_name %> <%= @user.last_name %>
          <% if @user.date_of_birth? %>
            | <%= age(@user.date_of_birth)%>
          <% end %>
        </h4>
        <h6 class="category text-gray"><i class="material-icons">location_on</i>Bristol</h6>

        <hr>
        <div class="col-md-12">
          <h6 class="card-content">About Me</h6>
            <p class="card-content">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi sequi repellat neque laboriosam et hic nobis obcaecati animi quod, impedit totam reiciendis natus velit ipsum itaque eaque dolor porro, beatae.
            </p>
        </div>

      </div>
    </div><!--end card profile-->
  </div>

  <div class="col-md-4"><br><br>
    <button class="btn btn-default btn-block"><i class="material-icons">search</i> All Users</button>
    <button class="btn btn-default btn-block"><i class="material-icons">search</i> All Users</button>
    <button class="btn btn-default btn-block"><i class="material-icons">search</i> All Users</button>

  </div>
</div>

<div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="card">
        <div class="card-header" data-background-color="green">
          <h4 class="title">Sports</h4>
        </div>

      <div class="card-content">
        <p><%= @user.sports.map(&:name).join(', ') %>.</p>
      </div>
    </div> <!--End Card-->
  </div> <!--End col-->

  <div class="col-md-6 col-sm-12">
    <div class="card">
      <div class="card-header" data-background-color="blue">
        <h4 class="title">Goals</h4>
      </div>

      <div class="card-content">
        <p>STUFF</p>
      </div>
    </div> <!--End card-->
  </div> <!--End col-->
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header" data-background-color="red">
        <h4 class="title">Gym</h4>
      </div>

      <div class="card-content">

      </div>
    </div>
  </div>
</div>







<% if @user.sports.empty? %>
  <h2>This user has not currently set any sports.</h2>
  <%= link_to 'Add your sports', edit_user_path(current_user) %>
<% else %>
<%= @user.first_name %>'s sports are:
<%= @user.sports.map(&:name).join(', ') %>.
<br>
<%= link_to 'Change', edit_user_path(current_user) %>
<% end %>
