<% if current_user.id == @user.id %>
  <% title 'Your Profile' %>
<% else %>
  <% title "#{@user.first_name}'s Profile" %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header" data-background-color="purple">
        <h3 class="title">
          <% if current_user.id == @user.id %>
            Your Profile
          <% else %>
            <%= @user.first_name %>'s Profile
          <% end %>
        </h3>
      </div>

        <div class="card-content">

          <div class="row">
            <div class="col-md-9">
              <br>
              <div class="card card-profile">
                <% if current_user.id == @user.id %>
                  <%= link_to '<i class="material-icons">settings</i>'.html_safe, edit_user_registration_path(current_user), class: 'btn btn-white btn-round btn-just-icon floatright' %>
                <% end %>
                <div class="card-avatar">
                  <%= gravatar_tag @user.email, :html => { class: 'img', alt: 'Profile Picture' } %>

                </div>
                <div class="content">
                  <h4 class="card-title">
                    <%= @user.first_name %> <%= @user.last_name %>
                    <% if @user.date_of_birth? %>
                      | <%= age(@user.date_of_birth)%>
                    <% end %>
                  </h4>
                  <h6 class="category text-gray"><i class="material-icons">location_on</i>
                    <% if @user.city.to_s.empty? %>
                    Not set
                    <% else %>
                      <%= @user.city.name %>
                    <% end %>
                  </h6>

                  <hr>
                  <div class="col-md-6">
                    <h6 class="text-left">About Me</h6>
                      <p class="text-left">
                        <% if @user.bio.to_s.empty? %>
                            <%= @user.first_name %> hasn't set a description yet
                        <% else %>
                          <%= @user.bio %>
                        <% end %>
                      </p>
                  </div>

                  <div class="col-md-3">
                    <h6 class="text-left">Activity Level</h6>
                    <% if @user.workout.to_s.empty? %>
                      <p class="text-left">
                        Not yet set
                      </p>
                    <% else %>

                      <p class="text-left">
                        Workouts <%= @user.workout.name %> days a week
                      </p>

                    <% end %>

                    <h6 class="text-left">Skill Level</h6>
                    <% if @user.workout.to_s.empty? %>
                      <p class="text-left">
                        Not yet set
                      </p>
                    <% else %>
                      <p class="text-left">
                        <%= @user.fitness_level.name %>
                      </p>
                    <% end %>

                  </div> <!-- end col-md-3 -->

                  <div class="col-md-3">
                    <h6 class="text-left">Time of day</h6>

                    <% if @user.moment.to_s.empty? %>
                      <p class="text-left">
                        Not yet set
                      </p>
                    <% else %>
                      <p class="text-left">
                        <%= @user.first_name %> likes to workout in the <%= @user.moment.name %>
                      </p>
                    <% end %>
                  </div>

                </div> <!-- end content -->
              </div><!--end card profile-->
            </div> <!-- end col-md-9 -->

            <div class="col-md-3"><br><br>
          <div class="text-center">

            <% if @user.id != current_user.id %>
              <div class="btn btn-lg btn-success btn-block white"><%= action_buttons(@user) %></div>

            <% end %>

            <%= link_to 'View All Users', users_path, class: 'btn btn-info btn-block' %>
            <% if @user.id == current_user.id %>
              <%= link_to 'Change My Preferences', edit_user_path(current_user), class: 'btn btn-success btn-block' %>
            <% end %>
<hr>
            <div class="col-md-12">
              <div class="card">
                <div class="card-header" data-background-color="red">
                  <h4 class="title">Gym</h4>
                </div>

                <div class="card-content">

                  <% if @user.gyms.empty? %>
                    <% if current_user.id == @user.id %>
                      <h4>You haven't chosen a gym yet.</h4>

                      <%= link_to 'Change', edit_user_path(current_user) %>
                    <% else %>
                      <h4><%= @user.first_name %> has not set a gym.</h4>
                    <% end %>

                  <% elsif (current_user.id == @user.id) && (@user.gyms.empty?)  %>

                  <% else %>

                    <h4><%= @user.gyms.map(&:name).join(', ') %>.</h4>
                  <% end %>

                </div>
              </div>
            </div>

          </div>

            </div>
          </div>

          <div class="row">
              <div class="col-md-6 col-sm-12">
                <div class="card">
                  <div class="card-header" data-background-color="green">
                    <h4 class="title">
                      Activities
                      <p class="pull-right">
                        <% if current_user.id == @user.id %>
                          <%= link_to 'Change', edit_user_path(current_user) %>
                        <% end %>
                      </p>
                    </h4>

                  </div>

                <div class="card-content">
                  <% if @user.sports.empty? %>
                    <h4>This user has not currently set any sports.</h4>
                  <% elsif @user.sports.empty? && current_user.id == @user.id %>
                    <h2>You haven't set any sports.</h2>
                    <%= link_to 'Add your sports', edit_user_path(current_user) %>
                  <% else %>
                  <h5><%= @user.sports.map(&:name).join(', ') %>.</h5>
                  <% end %>

                </div>
              </div> <!--End Card-->
            </div> <!--End col-->

            <div class="col-md-6 col-sm-12">
              <div class="card">
                <div class="card-header" data-background-color="blue">
                  <h4 class="title">
                    Current Goals
                    <p class="pull-right">
                      <% if current_user.id == @user.id %>
                        <%= link_to 'Change', edit_user_path(current_user) %>
                      <% end %>
                    </p>
                  </h4>
                </div>

                <div class="card-content">
                  <% if @user.goals.empty? %>
                    <h4>This user has not currently set any goals.</h4>
                  <% elsif @user.goals.empty? && current_user.id == @user.id %>
                    <h2>You haven't set any goals.</h2>
                    <%= link_to 'Add your goals', edit_user_path(current_user)%>
                  <% else %>
                  <h5><%= @user.goals.map(&:name).join(', ') %>.</h5>
                  <% end %>
                </div>
              </div> <!--End card-->
            </div> <!--End col-->
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
