<div class="signup-page">
<div class="wrapper">
<div class="header header-filter header-bg">
<div class="container">
<div class="row">
<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
<div class="mk-card mk-card-signup">

  <div class="header header-info text-center">
    <h4>Sign In</h4>
  </div>
  <br>
  <h4 class="text-divider uppercase">Enter your details below</h4>

  <div class="content col-md-10 col-md-offset-1">
    <!--START SIMPLE FORM-->
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <%= f.input :email, autofocus: true %>
    <%= f.input :password %>


    <%= f.button :submit, "Sign In", class: 'btn btn-primary btn-block btn-lg' %>

    <p class="text-divider">Don't have an account?</p>

    <%= render "devise/shared/links" %>
    <br>
    <% end %> <!-- end simple form-->
  </div> <!--End of Content-->
