<% title "Dashboard" %>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header" data-background-color="purple">
        <!--Displaying a greeting for a nicer user experience -->
        <h2 class="text-center"><%= greet %>, <%= current_user.first_name %>!</h2>
        <h4 class="category text-center">
          <!-- Adding customised messages for when people sign in for the first time - Good UX -->
          <% if current_user && current_user.sign_in_count == 1 %>

          Welcome to Gym Meet. I hope you find the platform useful.

        <% end %></h4>
      </div>

      <div class="card-content">
        <div class="row">
          <div class="col-md-12 text-center">
            <!-- Using if statements to see if profile is set up  -->
            <% if current_user.sports.empty? || current_user.goals.empty? %>

              <h4>To get the most out of this platform you will need to setup your preferences.</h4>
              <!--Rails link helpers -->
              <%= link_to 'Setup Profile', edit_user_path(current_user), class: 'btn btn-primary btn-lg' %>

            <% end %>
          </div>
        </div>


        <div class="row">
          <div class="col-md-12">
            <div class="text-center">
              <h4>Gym MeetUp can help you find the workout partner that will push you just that little bit more.</h4>
              <h4>Want to find someone straight away?</h4>

            <%= link_to 'Get Started', users_path, class: 'btn btn-info btn-lg' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header" data-background-color="blue">
        <h2 class="text-center">My Friends</h2>
        <h4 class="category text-center">Talk to your gym buddies here</h4>
      </div> <!-- end card-header-->

        <div class="card-content">

          <div class="col-md-6">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Your Gym Buddies</h3>
              </div>
              <div class="panel-body">
                <p>Open up a conversation and arrange to meet up!</p>
                <p>Note: Messaging doesn't work on Heroku due to an incompatibility with WebSockets (sorry!)</p>
                <ul>
                  <!--Looping through current friends -->
                  <% @friends.each do |user| %>
                    <% if @friends.empty? %>
                      You haven't added any friends yet. <%= link_to_active_li 'Find a gym buddy now.', users_path %>
                    <% else %>

                  <li>
                    <!-- Displaying each name of the friends with the local variable -->
                    <%= user.first_name + ' ' + user.last_name %> -
                    <%= link_to 'Send Message', conversations_path(user_id: user), remote: true, method: :post %>
                  </li>
                  <% end %> <!-- end if statement -->

                  <% end %>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Pending Requests</h3>
            </div>
            <div class="panel-body">
              <!--adding logic statements for a better UX. Displaying different content
            dependent on answers-->
              <% if @pending.empty? %>
              <p>No pending requests.</p>

              <% else %>

              <p>These people have sent you a friend request. Don't leave them hanging.</p>

              <% end %>
              <ul>
                <% @pending.each do |pending| %>

                <li>
                  <%= link_to pending.first_name + ' ' + pending.last_name, user_path(pending.id) %>
                </li>
                <% end %>

              </ul>
            </div>
          </div>
        </div>

        <!--Conversation Stuff-->
        <div class="row">
          <hr></hr>

          <div class="col-md-12">
            <ul id="conversations-list">
              <% @conversations.each do |conversation| %>
                <%= render 'conversations/conversation', conversation: conversation, user: current_user %>
              <% end %>
            </ul>
          </div>
        </div>


        </div> <!--end card-content-->

      </div>
    </div> <!-- end card-->
  </div> <!--end col-md-12 -->
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header" data-background-color="green">
        <h2 class="title text-center">Events</h2>
        <h4 class="category text-center">(Coming Soon)</h4>
      </div>

      <div class="card-content">
<!--rendering the calendar partial - feature was never completed -->
        <%= month_calendar number_of_weeks: 2 do |date| %>
          <%= date %>
        <% end %>

      </div>
    </div>
  </div>
</div>
