<%= render 'layouts/nav_top' %>
<div class="app-body">
  <%= render 'layouts/nav_sidebar' %>

    <!-- Main content -->
    <main class="main">
      <%= render 'layouts/breadcrumb' %>
        <div class="container-fluid">
            <div class="animated fadeIn">
              <!--Content of plusOne Application-->
              <%= yield %>
            </div>
        </div>
        <!-- /.conainer-fluid -->
    </main>

    <%= render 'layouts/aside_menu' %>
</div>
