<div class="sidebar" data-color="purple" data-image="<%= image_url('test.jpg') %>">
<div class="logo">
  <%= link_to 'Gym Meetup', root_path, class: 'simple-text'%>
</div>
<!-- sidebar nav with links. links have an active class put on them to display when on each page-->
  <div class="sidebar-wrapper">
        <ul class="nav">
            <li>
              <%= link_to_active_li '<i class="material-icons">dashboard</i><p>Dashboard</p>'.html_safe, root_path %>
            </li>
            <li>
              <%= link_to_active_li '<i class="material-icons">search</i><p>Find Gym Buddy</p>'.html_safe, users_path %>
            </li>
            <li>
              <%= link_to_active_li '<i class="material-icons">store</i><p>View Gyms</p>'.html_safe, gyms_path %>
            </li>
            <li>
              <%= link_to_active_li '<i class="material-icons">person</i><p>My Profile</p>'.html_safe, user_path(current_user) %>
            </li>
            <li>
              <%= link_to_active_li '<i class="material-icons">build</i><p>My Preferences</p>'.html_safe, edit_user_path(current_user) %>
            </li>
        </ul>
  </div>
</div>
