<!DOCTYPE html>
<html>
  <head>
    <title>Alium</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="plusOne - Digital Media CTP Project">
    <meta name="author" content="Sam Price">
    <meta name="keyword" content="Digital Media,UWE,CTP,Rails,HTML,CSS">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" />
  </head>

<body class="<%= controller_name %> <%= action_name %>">

  <% if user_signed_in? %>

      <%= render 'layouts/main' %>

  <% else %>

      <%= render 'landings/nav' %>
      <%= yield %>

  <% end %>
</body>

</html>
